*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background: url('../images/background-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game-board{
    z-index: 1000;
    width: 80%;
    height: 600px;
    border: 3px solid #333;
    margin: 7% auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.start{
    z-index: 10;
    position: absolute;
    width: 20%;
    top: 39%;
    right: 40%;
    transition: transform 0.6s;
}

.start:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.game-over{
    z-index: 9;
    position: absolute;
    width: 12%;
    top: 34.5%;
    right: 44%;
    display: none;
    transition: transform 0.6s;
}

.game-over:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.pipe{
    z-index: 4;
    position: absolute;
    bottom: 57px;
    width: 80px;
    right: -100px;
}

.pipe-animation{
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    z-index: 5;
    width: 150px;
    position: absolute;
    bottom: 57px;
}

.floor{
    z-index: 3;
    position: absolute;
    bottom: -1.5%;
    height: 12%;
    width: 100%;
}

.clouds{
    z-index: 1;
    position: absolute;
    width: 450px;
    animation: clouds-animation 12s infinite linear;
    top: 5px;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 57px;
    }

    40% {
        bottom: 237px;
    }

    50% {
        bottom: 237px;
    }

    60% {
        bottom: 237px;
    }

    100% {
        bottom: 57px;
    }
}

@keyframes clouds-animation {
    from {
        right: -450px;
    }

    to {
        right: 100%;
    }
}